testing_SalmonTE
table_nonredundanthits_stranded.txt
allSim_numbers.txt
DB_creation.Rmd
Simulations.Rmd
Software.Rmd
files/HML2.gtf
files/params_Sim.txt
files/transcripts_MB_hg38.gtf
regions_with_multiple_mapped_reads_stranded*
.DS_Store
